<section class='show-booking'>
  <h1>Listing Details</h1>
  <p>Host: <%= @booking.host.username %></p>
  <p>Destination: <%= @booking.listing.title %></p>
  <p>Location: <%= @booking.listing.location %></p>

  <h1>Booking Details</h1>
  <p>Ref_no: <%= @booking.ref_no %></p>
  <p>Check in: <%= @booking.check_in_date %></p>
  <p>Check out: <%= @booking.check_out_date %></p>
  <p>Day(s): <%= @booking.duration %> days</p>
  <p>total: <%= @booking.total %></p>
  <p>status: <%= @booking.status %></p>

  <% if @booking.is_pending? %>
    <p id='stripePK' hidden><%= @stripePK %></p>
    <section class='stripe-card-element'>
      <div id='card'>
        <%= form_with url: '/stripes', id: 'payment-form', method: :post do |f|%>
          <%= f.text_field :id, value: "#{@booking.id}", hidden: true %>
          <label for="card-element">
            Credit or debit card
          </label>
          <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
          </div>
          <div id="card-errors" role="alert"></div>
          <%= f.submit 'Confirm Payment' %>
        <% end %>
      </div>
    </section>
  <% end %>

  <% if @booking.is_paid? %>
    <button>
      <%= link_to 'View payment details', stripe_path(@booking.charge_id) %>
    </button>
  <% end %>
</section>