<%= render 'shared/header' %>
<h1>Welcome to Airbnb Clone</h1>

<section class='all-listings'>
  <h1>You might be interested</h1>
    <% if @listings %>
      <% @listings.each do |listing| %>
        <section style='border: 1px solid black; margin-bottom: 10px;'>
          <% if listing.photos.attached? %>
            <% listing.photos.each do |photo| %>
              <%= image_tag photo, style: 'width: 200px;' %>
            <% end %>
          <% end %>
          <h6>Title: <%= listing.title %></h6>
          <h6>Description: <%= listing.description %></h6>
          <h6>Price Per Day: <%= listing.price_per_day %></h6>
          <button>
            <%= link_to 'Booking', listing_path(listing) %>
          </button>
        </section>
      <% end %>
    <% else %>
      <p>There is no available listing.</p>
    <% end %>
</section>