<section class='host-profile'>
  <section class='host-avatar'>
    <% if current_host.avatar.attached? %>
      <%= image_tag current_host.avatar, style: 'width: 200px;' %>
    <% end %>
  </section>
  <section class='host-details'>
    <h1><%= current_host.email %></h1>
    <h1>hostname: <%= current_host.username %></h1>
    <h1>birth_date: <%= current_host.birth_date %></h1>
  </section>

  <section class='add-new-listing-form'>
    <h1>Add new listing</h1>
    <%= form_with(model: [:dashboard, @listing]) do |f| %>
      <%= f.label :photos %>
      <%= f.file_field :photos, multiple: true %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <%= f.label :price_per_day %>
      <%= f.text_field :price_per_day %>
      <%= f.label :location %>
      <%= f.text_field :location %>
      <%= f.submit 'Create' %>
    <% end %>
  </section>

  <section class='all-listings'>
    <h1>All your listing</h1>
      <% if @listings %>
        <% @listings.each do |listing| %>
          <section style='border: 1px solid black; margin-bottom: 10px;'>
            <% if listing.photos.attached? %>
              <% listing.photos.each do |photo| %>
                <%= image_tag photo, style: 'width: 200px;' %>
                <%= link_to 'Remove', delete_photo_attachment_dashboard_listing_url(photo), method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            <% end %>
            <h6>Title: <%= listing.title %></h6>
            <h6>Description: <%= listing.description %></h6>
            <h6>Price Per Day: <%= listing.price_per_day %></h6>
            <button>
              <%= link_to 'Edit', edit_dashboard_listing_path(listing) %>
            </button>
            <p>
              <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&center=#{listing.location}&key=#{Rails.application.credentials[:GOOGLE_MAP_API]}", alt: "Map" %>
            </p>
            <p>
              <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&center=#{listing.latitude},#{listing.longitude}&key=#{Rails.application.credentials[:GOOGLE_MAP_API]}", alt: "Map" %>
            </p>
          </section>
        <% end %>
      <% else %>
        <p>You have not yet created any listing.</p>
      <% end %>
  </section>
</section>